/*
 * =============================================================================
 * File:    style.css
 * Project: Portfolio
 * Author:  Francesco Buscardo
 * Date:    October 29, 2025
 * Version: 1.0
 * =============================================================================
 */
